<div class="row mb-4 project">
  <div class="col-md-5">
 <h1>show party name/date</h1>
 <p>{{#each guest as |guest| }}
  <il>
    show guest name and what they are bringing
  </il>
 </p>  
  </div>
  {{/each}}
 </div>

