.body{
  background-color:#cacacc;
  background-size: cover;
  
}

.header {
  align-items: center;
  border: 5px double #1C6EA4;
  background-color: rgb(136, 87, 97);
  display:flex;
  justify-content: center;
}
  
#headerTxt{
    position: absolute;
    top: 35 px;
    left: 51.5%;
    z-index: 1;
  color: rgb(187, 54, 54);

}

#logoImg {
  height: 100px;
  width: 100px;
}

.login {
  position: fixed;
  right: 5%;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}



