.body{
  background-color:#cacacc;
  background-size: cover;
}

.welcomeTxt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  align-items: center;
  border: 5px double #a41c1c;
  background-color: rgb(72, 71, 71);
  display:flex;
  justify-content: center;
}
 
#headerTxt{
    position: absolute;
    top: 35 px;
    left: 51.5%;
    z-index: 1;
  color: orangered;

}

#logoImg {
  height: 100px;
  width: 100px;
}

.newGuest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singleParty {
  display: flex;
  align-items: center;
  justify-content:center;
}


.login {
  display: flex;
  flex-direction: column;
   position: absolute;
   right: 5%;
}

.eachParty {
  background-color: #1b89bc;
  border: 5px double #a41c1c;
  display: block;
  text-align: center;
  justify-content: center;
}


.partyPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDetails {
  font-size: 16pt;
  border-radius: 25%;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}



